# 服务器配置
PORT=3000
NODE_ENV=development

# tushare配置
# TUSHARE_TOKEN=2672c97cc54ebe972df1e11f2ff1647bbf483f3028aa456d4f1e2ae2
TUSHARE_BASE_URL=https://api.tushare.pro

# 缓存配置
CACHE_MEMORY_TTL=300000
CACHE_FILE_TTL=1800000
CACHE_DIR=./cache

# API限流
API_RATE_LIMIT=30
API_WINDOW_MS=60000

# 自动刷新
AUTO_REFRESH_INTERVAL=600000

# CORS
ALLOWED_ORIGINS=*
